html, body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#horloge{
    font-size: 40px;
    color: #000;
}

#time {
    width: 200px;
    height: 50px;
    line-height: 50px;
    border: 1px dotted #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}

#presenter {
    font-size: 17px;
    visibility: hidden;
}

input[type="button"] {
    border: none;
    padding: 10px;
    background-color: rgba(50, 205, 50, 0.25);
    cursor: pointer;
}

html {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#timer {
    font-weight: bold;
    font-size: 4em;
}

nav {
    display: block;
}

